*{
  background-color: black;
  font-size: 30px;
}
.mycount{
 margin-top: 200px;
   align-items: center;
  text-align: center;
 color: white;
}
.count{
  width: 50px;
  border-radius: 20px;
  background-color: white;
  color: black;
  margin: 2%;
  padding: 8px 12px;            
  border: none;  
}
.count:active {
  transform: scale(0.98);         
}

